{% extends "project/base.html"%}

{% block content %}
<style>
        body {
          background-image: url('/static/bg.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed; 
          background-size: cover;
        }
        </style>
        <center><h2 style="color:rgb(233, 233, 241);"> You have been Logged Out</h2></center>
        <div class="border-top pt-3">
            <small class="text-muted">
            <center><a href ="{% url 'login'%}"><h1 style="color:rgb(233, 233, 241);"> Log In Again</h1></a></center>
            </small>
        </div>
   
{% endblock content %}